#header-text .bg {
    background-image: url('../images/balearskoe-more_51.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    opacity:0.25;
}#panel-menu-screen--0 .bg-wrap {
    background-color: rgba(0,0,0,0.8);
}
