
#testimonial-single .bg {
	background-size: cover;
	opacity: 1;
	background-position: left bottom;	background-image: url('../images/balearskoe-more_51.jpg');
}#footer-logo-share .bg {
    background-repeat: no-repeat;
    background-position: right bottom;
    opacity: 0.075;
}
