
#testimonial-single .bg-wrap {}

#testimonial-single .bg {
	background-size: cover;
	background-position: left bottom;
	background-image: url('../images/balearskoe-more_51.jpg');
}#text-1col .bg {
    background-repeat: no-repeat;
    background-position: right bottom;
    opacity: 0.2;
}
#footer-logo-share .bg {
    background-repeat: no-repeat;
    background-position: ;
    opacity: 0.075;
}
